
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

body{
    margin: 0;
    padding: 0;
}

.nav-header-container{
    padding: 0;
    background: url("/assets/images/image1.jpg") no-repeat center center fixed;
    min-height: 80vh;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}
.navbar {
    height: 75px;
    background-color: rgba(206, 211, 214, 0.25);
}

.navbar-toggler{
    font-size: 30px;
    color: #753871
}

a.navbar-brand {
    font-family: "Noto Sans KR", sans-serif;
    padding-left: 20px;
    font-weight: 700;
    color: #753871;
    font-size: 30px;
}

.navbar .nav-link {
    padding-left: 20px;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 18px;
    color: #753871;
    font-weight: 600;

}
