
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
html,
body{
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
    font-family: "Montserrat", sans-serif;
    color: #0e0325;
}

.row{
    width: 100vw;
    margin: auto;
}

h1,h2,h3,h4,h5{
    font-family: "Noto Sans KR", sans-serif;
    margin: 0;
}

h2{
    margin: 15px;
    font-weight: 700;
    color: #753871;
}

h3{
    margin-top: 10px;
}

h4{
    margin-top: 10px;
    color: #753871;
}

h5 {
    font-size: 32px;
}

p{
    margin-top: 10px;
}

.left-text{
    text-align: left;
}

.col-12,
.col-10,
.col-8,
.col-6,
.col-4,
.col-2,
.col-md-6,
.d-none {
    padding-left: 15px;
    padding-right: 15px;
}

section.true-stories-section,
section.about-section,
section.hauntings-section,
section.theories-section {
    margin-bottom: 30px;
}

.heading-row h2 {
    background-color: #753871;
    color: #e8feff;  
}

.container-fluid {
    padding: 0;
}

/*-------------------------------Nav------------*/

nav.navbar.navbar-expand-md {
    padding: 8px 0;
    height: 75px;
    background-color: #d3d8db;
}

.navbar-collapse{
    background-color: #d3d8db;
    text-align: center;
    margin-top: 12px;
}

.navbar-toggler{
    font-size: 30px;
    color: #753871;
    padding-right: 15px;
}

a.navbar-brand {
    font-family: "Noto Sans KR", sans-serif;
    margin-left: 30px;
    font-weight: 700;
    color: #381936;
    font-size: 30px;
    text-transform: uppercase;
}

a.navbar-brand:hover,
a.navbar-brand:focus {
    color: #e8feff;
}

.nav-link,
.dropdown-item,
.nav-item {
    font-family: "Noto Sans KR", sans-serif;
    font-size: 18px;
    color: #753871;
    font-weight: 600;
}

.nav-link.active {
    color: #381936;
}

.dropdown-item:hover,
.dropdown-item:focus,
.navbar .nav-link:focus,
.navbar .nav-link:hover,
.navbar-toggler:hover,
.navbar-toggler:focus,
a.navbar-brand:hover,
a.navbar-brand:focus,
a:hover,
a:focus,
.fa-ghost:focus,
.social i:hover,
.social i:focus,
sup:hover,
sup:focus {
    color: #381936;
}

.dropdown-item:focus-visible,
.navbar .nav-link:focus-visible,
.navbar-toggler:focus-visible,
a:focus-visible,
a.navbar-brand:focus-visible,
.fa-ghost:focus-visible, 
.my-btn:focus-visible,
.social i:focus-visible,
.resources ul a:focus-visible,
form input:focus-visible,
form textarea:focus-visible,
iframe button:focus-visible,
iframe a:focus-visible {
    outline: 3px dotted #17a2b8;
}


/*-----------------------Landing page--------*/
.landing-page-container{
    padding: 0;
    background: url("../images/image1.jpg") no-repeat center center;
    min-height: 80vh;
    text-align: center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.title-slogan-container{
    padding: 0;
    background-color: rgba(206, 211, 214, 0.5);
    text-align: center; 
    margin-top: 20vh;
    border-radius: 10px;  
}

.page-title h1,
strong{
    font-weight: 900;
}


.fa-ghost{
    font-size: 60px;
    color: #0e0325;
}

.fa-ghost:hover {
   color: #e8feff;
}

a.my-btn,
input.my-btn,
label.my-btn,
button.my-btn {
    background-color: #0e0325;
    color: #e8feff;
    margin-top: 20px;
    margin-bottom: 10px;
    border: none;
}

.my-btn:hover,
.my-btn:focus,
.my-btn:active 
.my-btn:active:focus{
    color: #e8feff;
    background-color: #0e0325;
}

/*-----------------www.joshwcomeau.com--------*/
.hover:hover{
transform: translateY(8px);
transition: transform 600ms;
}

/*-------------------About------------------*/

.introduction-image{
    padding-top: 75px;
    display: relative;
    text-align: center;
}
.introduction-image img{
   width: auto;
   height: 400px;
   padding: 0px;  
   object-fit: cover;
   position: absolute;         
   display: inline;       
   left: 50%;                   
   transform: translate(-50%); 
}

figcaption {
    padding-top: 400px;
}

figcaption a {
    font-size: 16px;
    color: #753871;
}

.ghosts table{
    margin-top: 25px;
}

sup{
    color: #753871;
    font-weight: 500;
}

sup:hover,
sup:focus {
    color: #17a2b8;
}

/*-------------------Theories------------------*/
.fact-box{
    border: solid 5px #381936;
    border-radius: 15px;
    text-align: center;
    padding: 30px;
    font-weight: 700;
    font-size: 1.2rem;
    margin-top: 15px;
    background-color: #e8feff;
    color: #381936;
}

/*-------------------Evidence------------------*/
.header-container{
    padding: 0;
    background: url("../images/image3.jpg") no-repeat bottom center;
    min-height: 33vh;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.header-container .col-12{
    padding: 0;
}

.hidden{
    position: relative;
}

input#more-button{
  display: none;
}

.row.true-stories-row,
.row.hidden-stories-row{
    padding-bottom: 0;  
}

.hidden-stories-row .col-10{
    text-align:center;
}
div.picture-evidence,
div.video-evidence {
    text-align: center;
    padding: 0 15px;
}

.picture-evidence img,
.picture-evidence picture {
   width: auto;
   height: 300px;
   padding: 5px;     
}

.picture-evidence h2,
.video-evidence h2 {
    margin: 10px;
}

/*-----------------------------Resource section-------*/
.resource {
    text-align: center;
    position: relative;
}
.resource img {
   width: auto;
   height: 250px;
   padding: 0px;  
   object-fit: cover;
   position: absolute;         
   display: inline;       
   left: 50%;                   
   transform: translate(-50%); 
}

.resource figcaption{
    padding-top: 250px;
}


.resource.fact-box {
    padding: 5px 15px;
    margin-top: 10px;
    font-size: 1rem;
    
}.resources ul {
    list-style-type: none;
    padding-left: 0;
    font-size: 20px;
}

.resources ul a {
    color: #753871;
}

.resources ul a:hover,
.resources ul a:focus {
    color: #0e0325;
    text-decoration: none,
}

/*-----------------------------Contact-------*/
form {
    width: 100%;
}

form input {
    margin: 10px 10px;
}

form fieldset{
    border: solid 1px #0e0325;
    width: 95%;
    margin: 0;
}
fieldset input{
    width: 90%;
    margin: 10px 10px 15px;
}

fieldset label{
    margin-left: 15px;
    margin-bottom: 5px;
}

fieldset legend {
    width: 90%;
    text-align: center;
}

textarea {
    height: 300px;
    width: 95%;
    margin-top: 8px;
}

form label,
form p {
    margin-bottom: 0px;
    margin-top: 10px;
}

form p {
    width: 95%;
}

form button.btn {
    margin-top: 0;
}

/*-----------------------------Modal-------*/
.modal-content {
    background-color: #e8feff; 
    text-align: center;
}
.modal-header {
    text-align: center;
}
.modal-content h3 {
    color: #0e0325;
}
.modal-content p {
    color: #753871;
}
.modal button.btn {
   width: 100px;
   margin-bottom: 20px;
   margin-top: 5px;
   align-self: center;
}

/*-------------------footer------------------*/
footer .col-12{
    padding: 0;
    height: 75px;
    background-color: #d3d8db;
    text-align: center;
    margin-top: 10px;
}

footer .row{
    padding: 0px;
}

.social i{
    font-size: 40px;
    padding-left: 10px;
    color: #753871;
}


span.social {
  font-weight: 700;
  font-size: 15px;
  text-transform: uppercase;
}

/*-----------------Media Queries--------------*/

/*-----------------www.joshwcomeau.com--------*/
@media (prefers-reduced-motion: reduce) {
  .hover {
    transition: none;
    color: #753871;
  }
}

@media(min-width:769px) {
    .page-title h1 {
    font-size: 60px;
    }
    .header-container{
    background: url("../images/image3.jpg") no-repeat bottom -80px center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;   
    }
    .col-12,
    .col-10,
    .col-8,
    .col-6,
    .col-4,
    .col-2,
    .col-md-6,
    .d-none {
        padding-left: 30px;
        padding-right: 30px;
    }
    .row{
        padding-bottom: 40px;
    }

    .row-heading,
    .row-button{
        padding: 0px;
    }

    label.btn.my-btn {
        display: none;
    }  

    h2 {
        text-transform: uppercase;
    }

    form {
        width: 100%; 
        padding-left: 10px;  
    }

    fieldset legend {
    width: 40%;
    }
}

@media(min-width:1000px) {
.landing-page-container{
    padding: 0;
    background: url("../images/image1.jpg") no-repeat top -150px center;
    min-height: 80vh;
    text-align: center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}
 .header-container{
    background: url("../images/image3.jpg") no-repeat bottom -130px center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
 }
}

@media(min-width:1400px) {
.landing-page-container{
    padding: 0;
    background: url("../images/image1.jpg") no-repeat top -240px center;
    min-height: 80vh;
    text-align: center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}
 .header-container{
    background: url("../images/image3.jpg") no-repeat bottom -200px center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
 }
}

@media(max-width:768px){
    .nav-link,
    .dropdown-item,
    .nav-item {
        padding-top: 0;
    }

    .hide {
        display: none;
    }

    input:checked ~ .hide {
    display: inline;
    }

    div.hide.col-md-6.col-lg-4 {
        padding-left: 30px;
        padding-right: 30px;
    }

    table td,
    table th,
    table {
        padding: 2px;
        font-size: 0.9rem;
        line-height: 1.2;  
    }   
}

@media(min-width:2000px) {
    .landing-page-container {
        padding: 0;
        background: url("../images/image1.jpg") no-repeat top -300px center;
        min-height: 80vh;
        text-align: center;
        background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
    }

    .col-12,
    .col-10,
    .col-8,
    .col-6,
    .col-4,
    .col-2,
    .col-md-6,
    .d-none {
        padding-left: 60px;
        padding-right: 60px;
    }
}