
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Noto+Sans+KR:wght@400;500;700;900&display=swap');

/*---- General ----*/
html,
body{
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
    font-family: "Montserrat", sans-serif;
    color: #0e0325;
}
.container-fluid {
    padding: 0;
}

.row{
    width: 100vw;
    margin: auto;
}
h1,h2,h3,h4,h5{
    font-family: "Noto Sans KR", sans-serif;
    margin: 0;
}
h2{
    margin: 15px;
    font-weight: 700;
}
h3,
h4,
p {
    margin-top: 10px;
}
.left-text{
    text-align: left;
}
.col-12,
.col-10,
.col-8,
.col-6,
.col-4,
.col-2,
.col-md-6,
.d-none {
    padding-left: 15px;
    padding-right: 15px;
}
section.true-stories-section,
section.about-section,
section.hauntings-section,
section.theories-section {
    margin-bottom: 30px;
}
.heading-row h2 {
    background-color: #753871;
    color: #e8feff;  
}
.heading-row {
    padding: 0;
}
.badge.badge-info {
    background-color: #01778a;
}

/*---- Hover, focus styles ----*/
.dropdown-item:hover,
.dropdown-item:focus,
.navbar .nav-link:focus,
.navbar .nav-link:hover,
.navbar-toggler:hover,
.navbar-toggler:focus,
a.navbar-brand:hover,
a.navbar-brand:focus,
a:hover,
a:focus,
.fa-ghost:focus,
.social i:hover,
.social i:focus,
.introduction-image a:hover,
.introduction-image a:focus,
.video a:hover,
.video a:focus {
    color: #0e0325;
}
a.navbar-brand:hover,
a.navbar-brand:focus,
.fa-ghost:hover {
    color: #e8feff;
}
.my-btn:hover,
.my-btn:focus,
.my-btn:active 
.my-btn:active:focus{
    color: #e8feff;
    background-color: #0e0325;
}
.dropdown-item:focus-visible,
.navbar .nav-link:focus-visible,
.navbar-toggler:focus-visible,
a:focus-visible,
a.navbar-brand:focus-visible,
.fa-ghost:focus-visible, 
.my-btn:focus-visible,
.social i:focus-visible,
.resources ul a:focus-visible,
form input:focus-visible,
form textarea:focus-visible,
iframe button:focus-visible,
iframe a:focus-visible,
.col-2 a:focus-visible,
.video a:focus-visible {
    outline: 3px dotted #01778a;
}
.resources ul a:hover,
.resources ul a:focus {
    color: #0e0325;
    text-decoration: none;
}
p sup:hover,
p sup:focus,
caption sup:hover,
caption sup:focus  {
    color: #01778a;
}
/*---- www.joshwcomeau.com ----*/
.hover:hover{
transform: translateY(8px);
transition: transform 600ms;
}

/*---- Colours ----*/
nav.navbar.navbar-expand-md,
.navbar-collapse,
.navbar-nav .dropdown-menu,
footer .col-8,
footer .col-2,
footer .row {
    background-color: #d3d8db;
}
.navbar-toggler,
.nav-link,
.dropdown-item,
.nav-item,
h4,
h2,
.resources ul a,
.introduction-image a,
p sup,
.resource-image a,
.modal-content p,
.col-2 a,
.social i,
caption sup,
.video a {
 color: #753871;
}
a.navbar-brand, 
.nav-link.active {
 color: #0e0325;
}
.modal-content h3,
.fa-ghost {
color: #0e0325;
} 

/*---- Nav ----*/
nav.navbar.navbar-expand-md {
    padding: 8px 0;
    height: 75px;
    z-index: 1;
}
.navbar-collapse{
    text-align: center;
    margin-top: 5px;
}
.navbar-toggler{
    font-size: 30px;
    padding-right: 15px;
}
a.navbar-brand {
    font-family: "Noto Sans KR", sans-serif;
    margin-left: 30px;
    font-weight: 700;
    font-size: 30px;
    text-transform: uppercase;
}
.nav-link,
.dropdown-item,
.nav-item {
    font-family: "Noto Sans KR", sans-serif;
    font-size: 18px;
    font-weight: 600;
}
.navbar-nav .dropdown-menu {
    position: absolute;
    left: 30%;
    text-align: center;
}

/*---- Landing page ----*/
.landing-page-container{
    padding: 0;
    background: url("../images/image1-small.jpg") no-repeat center center;
    min-height: 75vh;
    text-align: center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}
.title-slogan-container{
    padding: 0;
    background-color: rgba(206, 211, 214, 0.5);
    text-align: center; 
    margin-top: 10vh;
    border-radius: 10px;  
}
.page-title h1,
strong{
    font-weight: 900;
}
.fa-ghost{
    font-size: 60px;
}
a.my-btn,
input.my-btn,
label.my-btn,
button.my-btn {
    background-color: #0e0325;
    color: #e8feff;
    margin-top: 20px;
    margin-bottom: 20px;
    border: none;
}

/*---- About ----*/
.introduction-image{
    padding-top: 50px;
    position: relative;
    text-align: center;
}
.introduction-image img{
    width: auto;
   height: 400px;
   padding: 0px;  
   object-fit: cover;   
   position: absolute;     
   display: inline;       
   left: 50%;                   
   transform: translate(-50%);   
}
.introduction-image p {
    padding-top: 400px;
}
.introduction-image a {
    font-size: 16px;
}
.ghosts table{
    margin-top: 25px;
}
p sup,
caption sup {
    font-weight: 500;
}

/*---- Theories ----*/
.fact-box{
    border: solid 5px #0e0325;
    border-radius: 15px;
    text-align: center;
    padding: 30px;
    font-weight: 700;
    font-size: 1.2rem;
    margin-top: 15px;
    background-color: #e8feff;
    color: #0e0325;
}

/*---- Evidence ----*/
.header-container{
    padding: 0;
    background: url("../images/image3-small.jpg") no-repeat bottom center;
    min-height: 33vh;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}
.header-container .col-12{
    padding: 0;
}
h3 sup.badge {
    font-size:50%;
}
.hidden{
    position: relative;
}
input#more-button {
  display: none;
}
.row.true-stories-row,
.row.hidden-stories-row{
    padding-bottom: 0;  
}
.hidden-stories-row .col-10{
    text-align:center;
}
div.picture-evidence,
div.video-evidence {
    text-align: center;
    padding: 0 15px;
}
.picture-evidence img,
.picture-evidence picture {
   width: auto;
   height: 300px;
   padding: 5px;     
}
.picture-evidence h2,
.video-evidence h2 {
    margin: 20px;
}
.video {
    padding: 0;
}
iframe {
        width: 320px;
        height: 177px;
    }

/*---- Resource section ----*/
.resource-image {
    text-align: center;
    position: relative;
    overflow: hidden;
}
.resource-image img {
   width: auto;
   height: 250px;
   padding: 0px;  
   object-fit: cover;             
   position: absolute;         
   display: inline; 
   left: 50%;                   
   transform: translate(-50%); 
   margin-top: 10px;
}
.resource-image p {
    padding-top: 250px;
}
.resource-image a {
    font-size: 16px;
}
.resource.fact-box {
    padding: 5px 15px;
    margin-top: 10px;
    font-size: 1rem;   
}
.resources ul {
    margin-top: 10px;
    list-style-type: none;
    padding-left: 0;
    font-size: 20px;
    line-height: 1.75;
}
.fact-box h4 {
    font-size: 32px;
}


/*---- Contact ----*/
form {
    width: 100%;
    padding-left: 10px;
}
form input {
    margin: 10px 10px;
}
form fieldset{
    border: solid 1px #0e0325;
    width: 95%;
    margin: 0;
}
fieldset input{
    width: 90%;
    margin: 10px 10px 15px;
}
fieldset label{
    margin-left: 15px;
    margin-bottom: 5px;
}
fieldset legend {
    width: 90%;
    text-align: center;
}
textarea {
    height: 300px;
    width: 95%;
    margin-top: 8px;
}
form label,
form p {
    margin-bottom: 0px;
    margin-top: 10px;
}
form p {
    width: 95%;
}
form button.btn {
    margin-top: 5px;
}

/*---- Modal ----*/
.modal-content {
    background-color: #e8feff; 
    text-align: center;
}
.modal-header {
    text-align: center;
}
.modal button.btn {
   width: 100px;
   margin-bottom: 20px;
   margin-top: 5px;
   align-self: center;
}

/*---- footer ----*/
footer .footer-social {
    padding: 0;
    height: 75px;
    text-align: center;
    padding-top: 5px;
    padding-right: 0;
} 
footer .footer-link {
    padding: 25px 5px 0 0;
    height: 75px;
    line-height: 1.25;
} 
footer .row{
    padding: 0;
    margin-top: 10px;
    text-align: center;
}
.social i{
    font-size: 30px;
    padding-left: 10px;
}
span.social {
  font-weight: 500;
  font-size: 15px;
  text-transform: uppercase;
}

/*---- Media Queries ----*/
@media(max-width:768px){
    .nav-link,
    .dropdown-item,
    .nav-item {
        padding-top: 0;
    }
    .navbar-nav, 
    .dropdown-menu {
        font-size: 16px;
        line-height: 1.25;
    }
    a.my-btn,
    input.my-btn,
    label.my-btn,
    button.my-btn {
        border: 5px solid #753871;
    }
    .resource.fact-box {
        margin: 15px 25px 0 25px;
    }
    
    /*---- Chiller on stack overflow ----*/
    .hide {
        display: none;
    }
    /*---- Chiller on stack overflow ----*/
     input:checked ~ .hide {
       display: inline;
    }
    table td,
    table th,
    table {
        padding: 2px;
        font-size: 0.9rem;
        line-height: 1.2;  
    }   
    footer .footer-link {
    padding: 20px 5px 0 0;
    } 
    .video p {
        padding: 0 40px;
    }
}

@media(max-width:350px){
    .social i{
    font-size: 25px;
    }
    span.social {
    text-transform: none;;
    }
    footer .footer-link {
        line-height: 1;
        padding: 15px 5px 0 0;
    }
    .video iframe {
        width: 90vw;
    }
    .video p {
        padding: 0;
    }
    .resource.fact-box {
        margin: 15px 0;
    }
}

@media(min-width:769px) {
    .page-title h1 {
    font-size: 60px;
    }
    .header-container{
    background: url("../images/image3.jpg") no-repeat bottom -80px center;
    min-height: 40vh;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;   
    }
    .title-slogan-container{
    margin-top: 20vh;
    }   
    .col-12,
    .col-10,
    .col-8,
    .col-6,
    .col-4,
    .col-2,
    .col-md-6,
    .d-none {
        padding-left: 30px;
        padding-right: 30px;
    }
    .row{
        padding-bottom: 40px;
    }
    .row-heading,
    .row-button{
        padding: 0px;
    }
    label.btn.my-btn {
        display: none;
    }  
    h2 {
        text-transform: uppercase;
    }
    form {
        width: 100%; 
        padding-left: 10px;  
    }
    fieldset legend {
    width: 40%;
    }
    .social i{
    font-size: 40px;
    }
    span.social {
    font-weight: 700;
    }
    footer .footer-link {
    line-height: 1.5;
    }
    .video iframe {
        width: 340px;
        height: 189px;
    }
    .video p {
        padding: 0 10px;
    }
    .video {
        padding: 0;
    }
}

@media(min-width:1000px) {
.landing-page-container{
    padding: 0;
    background: url("../images/image1.jpg") no-repeat top -130px center;
     background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}
 .header-container{
    background: url("../images/image3.jpg") no-repeat bottom -80px center;
    min-height: 40vh;
     background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
 }
 .video iframe {
        width: 320px;
        height: 177px;
    }
 .video p {
        padding: 0 5px;
    }
}

@media(min-width:1400px) {
.landing-page-container{
    padding: 0;
    background: url("../images/image1.jpg") no-repeat top -240px center;
     background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    }
 .header-container{
    background: url("../images/image3.jpg") no-repeat bottom -150px center;
    min-height: 40vh;
     background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    }
 .video iframe {
        width: 450px;
        height: 250px;
    }
 .video p {
        padding: 0 20px;
    }
}

@media(min-width:2000px) {
    .landing-page-container {
        padding: 0;
        background: url("../images/image1.jpg") no-repeat top -300px center;
        min-height: 80vh;
        text-align: center;
        background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
    }
    .col-12,
    .col-10,
    .col-8,
    .col-6,
    .col-4,
    .col-2,
    .col-md-6,
    .d-none {
        padding-left: 60px;
        padding-right: 60px;
    }
    .video iframe {
        width: 560px;
        height: 315px;
    }
    .video p {
        padding: 0 35px;
    }
}

/*-----------------www.joshwcomeau.com--------*/
@media (prefers-reduced-motion: reduce) {
  .hover {
    transition: none;
    color: #753871;
  }
}